header, main, footer {
    padding-left: 300px;
}
.container {
    width: 85% !important;
}
.header {
	font-weight: 300;
}
#index-banner {
    background-color: #ee6e73;
}
#index-banner .header {
    color: #FFF;
}
#logo-container {
    height: 96px;
    margin-bottom: 32px;
}
ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 40px;
}
ul.side-nav.fixed li.logo a:hover {
    background: transparent;
}
ul.side-nav.fixed li {
    line-height: 44px;
}
.side-nav li {
    float: none;
    line-height: 48px;
}

ul.side-nav.fixed {
    overflow: hidden;
}
.side-nav.fixed {
    left: 0;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    position: fixed;
}
nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 48px;
}
nav.top-nav {
    height: 122px;
    box-shadow: none;
}
a.button-collapse.top-nav i {
    font-size: 32px;
}
@media only screen and (max-width: 992px) {
	header, main, footer {
	    padding-left: 0px;
	}
	.side-nav.fixed {
	    -webkit-transform: translateX(-100%);
	    transform: translateX(-100%);
	}
	#index-banner h1 {
	    margin-top: 60px;
	}
	.top-nav {
		height: 132px;
	    padding-top: 10px;
	}
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    left: 7.5%;
    top: 0;
    float: none;
    margin-left: 1.5rem;
    color: #fff;
    font-size: 36px;
    z-index: 2;
}
.user-menu {
	line-height: 48px;
}
.user-menu-container {
	padding-left: 15px;
}
.well-padded {
	padding: 14px 16px !important;
}

.caption {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 30px;
}
.dropdown-content button.well-padded {
	font-size: 16px;
	font-weight: 500;
	text-align: left !important;
	min-width: 110px !important;
	border: none;
    line-height: 22px;
    background: transparent;
}
.page-container {
	margin-top: 15px;
}
