#macro(mainLayout)
<!DOCTYPE html>
<html>
<head>
    <title>$msg.get("COMMON_TITLE")</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  	<link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection"/>
  	<link type="text/css" rel="stylesheet" href="/css/style.css" media="screen,projection"/>
    <link rel="icon" href="/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<ul id="dropdown1" class="dropdown-content">
  <li><a href="$WebPath.getLOGIN()" class="well-padded">$msg.get("COMMON_NAV_LOGIN")</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
	<li><a href="$WebPath.getACCOUNT()" class="well-padded">Account</a></li>
	<li class="divider"></li>
  <li>
  	<form method="post" action="$WebPath.getLOGOUT()">
        <button id="logout" class="well-padded">$msg.get("COMMON_NAV_LOGOUT")</button>
    </form></li>
</ul>
<header>
  <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i class="material-icons">menu</i></a></div>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo"><a id="logo-container" href="$WebPath.getINDEX()" class="brand-logo">
    	 <object id="front-page-logo" type="image/svg+xml" data="/img/piotre.svg">Your browser does not support SVG</object></a></li>
   	<li>
   	 <div class="col s12 user-menu user-menu-container">
      <div class="row valign-wrapper user-menu" style="margin-bottom: 0px;">
      	<div class="col s3 user-menu">
          <img src="/img/default_avatar.jpg" alt="" class="circle responsive-img">
        </div>
        <div class="col s9">
         <div class="row valign-wrapper user-menu">
          <span class="black-text user-menu">
          	#if($currentUser)
          		<a class="dropdown-button" href="#!" data-activates="dropdown2">$currentUser<i class="material-icons right user-menu">arrow_drop_down</i></a>
          	#else
				<a class="dropdown-button" href="#!" data-activates="dropdown1">Anonymous User<i class="material-icons right user-menu">arrow_drop_down</i></a>
			#end
          </span>
          </div>
        </div>
      </div>
    </div>
    </li>
    <li class="bold #if("Overview" == $currentPage)active#end"><a href="/overview/" class="waves-effect waves-teal">Overview</a></li>
    <li class="bold #if($PageNames.getIndex() == $currentPage)active#end"><a href="$WebPath.getINDEX()" class="waves-effect waves-teal">$PageNames.getIndex()</a></li>
    <li class="bold #if($PageNames.getData() == $currentPage)active#end"><a href="$WebPath.getDATA()" class="waves-effect waves-teal">$PageNames.getData()</a></li>
    <li class="bold #if($PageNames.getMappings() == $currentPage)active#end"><a href="$WebPath.getMAPPINGS()" class="waves-effect waves-teal">$PageNames.getMappings()</a></li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion">
        <li class="bold"><a class="collapsible-header waves-effect waves-teal">Queries</a>
          <div class="collapsible-body">
            <ul>
              <li class="#if($PageNames.getQuery() == $currentPage)active#end"><a href="$WebPath.getQUERY()">$PageNames.getQuery()</a></li>
              <li class="#if($PageNames.getQueryStream() == $currentPage)active#end"><a href="$WebPath.getQUERY_STREAM()">$PageNames.getQueryStream()</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="bold #if($PageNames.getApps() == $currentPage)active#end"><a href="$WebPath.getAPPS()" class="waves-effect waves-teal">$PageNames.getApps()</a></li>
    <li class="bold #if($PageNames.getMetadata() == $currentPage)active#end"><a href="$WebPath.getMETADATA()" class="waves-effect waves-teal">$PageNames.getMetadata()</a></li>
  </ul>
</header>
<main>
    $bodyContent
</main>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="/js/materialize.min.js"></script>
<script>
	$( document ).ready(function(){
		$(".button-collapse").sideNav();
	});
</script>
</body>
</html>
#end
