<link rel="stylesheet" href="/css/codemirror.css">
#parse("/velocity/layout.vm")
#@mainLayout()
<nav class="top-nav">
	<div class="container">
  		<div class="nav-wrapper"><a class="page-title">SPARQL Query</a></div>
    </div>
</nav>
<div class="container page-container">
	<div class="row">
    	<form id="querySparqlForm" class="col s12">
    		<div class="row">
    			<div class="input-field col s12">
    				<select id="dataSourceSel">
    					<option value="" disabled selected>Choose Data Source to Query</option>
    					#set ($count=0)
    					#foreach($dataItem in $data)
    						#if($dataItem.getType()=="STORE" ||$dataItem.getType()=="HISTORICAL")
    							<option #if($count==0) selected #end value="$dataItem.getId()">$dataItem.getName()</option>
			      			#end
			      			#set ($count=$count+1)
			      		#end
			    	</select>
			    	<label>Query</label>
			  	</div>
			</div>
			<div class="row">
				<textarea id="code" name="source-content">
PREFIX ssn: <http://purl.oclc.org/NET/ssnx/ssn#>
PREFIX xsd: <http://www.w3.org/2001/XMLSchema#>
PREFIX time: <http://www.w3.org/2006/time#>
PREFIX iotsn: <http://iot.soton.ac.uk/smarthome/sensor#>
PREFIX iot: <http://purl.oclc.org/NET/iot#>

SELECT (avg(?val) as ?sval) ?hours
WHERE {
  ?instant time:inXSDDateTime ?date.
  ?obs ssn:observationSamplingTime ?instant;
  	ssn:observedBy iotsn:environmental1;
    ssn:observationResult ?snout.
  ?snout ssn:hasValue ?obsval.
  ?obsval a iot:InternalTemperatureValue;
    iot:hasQuantityValue ?val.
  FILTER (?date > "2012-07-20T00:00:00"^^xsd:dateTime && ?date < "2012-07-21T00:00:00"^^xsd:dateTime)
} GROUP BY (hours(xsd:dateTime(?date)) as ?hours)
				</textarea>
			</div>
		</form>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    	<a id="submitQuery" class="btn-floating btn-large red tooltipped" data-position="left" data-tooltip="Execute Query"><i class="large material-icons">play_arrow</i></a>
    </div>
</div>
#end
<script src="/js/codemirror-compressed.js"></script>
<script type="text/javascript">
	$('select').material_select();
	var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
	    mode: "sparql",
	    viewportMargin: Infinity
	});
	$('#submitQuery').click(submitQuery);
	function submitQuery() {
		$(this).html('<div class="preloader-wrapper small active"><div class="spinner-layer spinner-yellow-only"><div class="circle-clipper left"><div class="circle"></div></div><div class="gap-patch"><div class="circle"></div></div><div class="circle-clipper right"><div class="circle"></div></div></div></div>')
			.css('padding-top','9px');
		var dataId = $('#dataSourceSel').val();
		var query = editor.getValue();
		$.post( "$WebPath.getQUERY()", { 'id':dataId, 'query':query }, function( data ) {
			$('#submitQuery').html('<i class="large material-icons">play_arrow</i>')
				.css('padding-top','0px');
			if(data==null) {
				Materialize.toast('Error!', 2000);
			} else {
				if(data.error!=null) {
					Materialize.toast('Error: '+data.error, 6000);
				} else {
					createTable(data);
				}
				if(data.errorMessage!=null) {
					Materialize.toast(data.errorMessage, 6000);
				}
			}
		}, "json");
	}
	function createTable(data) {
		var table = $('<table>',{"class":"striped"});
		//create header
		var head = data.header;
		var headerRow = $('<tr>');
		for(var i=0;i<head.length;i++) {
			var th = $('<th>',{"data-field":head[i]});
			th.html(head[i]);
			headerRow.append(th);
		}
		table.append($('<thead>').append(headerRow));
		//create body
		var allData = data.results.bindings;
		var tbody = $('<tbody>');
		for(var i=0;i<allData.length;i++) {
			var row = $('<tr>');
			for(var j=0;j<head.length;j++) {
				var td = $('<td>');
				td.html(allData[i][head[j]].value);
				row.append(td);
			}
			tbody.append(row);
		}
		table.append(tbody);
		var form = $('#querySparqlForm');
		form.hide();
		$('#submitQuery').hide();
		$('.material-tooltip').remove();
		form.parent().append(table);
		form.parent().append('<div class="fixed-action-btn" style="bottom: 45px; right: 24px;"><a id="done-btn" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">done</i></a></div>');
		$('#done-btn').click(function() {
			table.remove();
			this.remove();
			$('#submitQuery').show();
			form.show();
		});
	}
</script>
