#parse("/velocity/layout.vm")
#@mainLayout()
<nav class="top-nav">
	<div class="container">
  		<div class="nav-wrapper"><a class="page-title">$msg.get("LOGIN_HEADING")</a></div>
    </div>
</nav>
<div class="container">
	<div class="row">
		<form id="loginForm" method="post">
		    #if($authenticationFailed)
		    	<div class="card red darken-1">
		            <div class="card-content white-text">
		              <p>$msg.get("LOGIN_AUTH_FAILED")</p>
		            </div>
	            </div>
		    #elseif($authenticationSucceeded)
		    	<div class="card green">
		            <div class="card-content white-text">
		              <p>$msg.get("LOGIN_AUTH_SUCCEEDED", $currentUser)</p>
		            </div>
	            </div>
		    #elseif($loggedOut)
		   		<div class="card blue-grey darken-1">
		            <div class="card-content white-text">
		              <p>$msg.get("LOGIN_LOGGED_OUT")</p>
		            </div>
	            </div>
		        
		    #end
		    
		    <p class="caption">$msg.get("LOGIN_INSTRUCTIONS")</p>
		    <label>$msg.get("LOGIN_LABEL_USERNAME")</label>
		    <input type="text" name="username" placeholder="$msg.get("LOGIN_LABEL_USERNAME")" value="" required autofocus>
		    <label>$msg.get("LOGIN_LABEL_PASSWORD")</label>
		    <input type="password" name="password" placeholder="$msg.get("LOGIN_LABEL_PASSWORD")" value="" required>
		    #if($loginRedirect)
		        <input type="hidden" name="loginRedirect" value="$loginRedirect">
		    #end
		    <input class="btn" type="submit" value="$msg.get("LOGIN_BUTTON_LOGIN")">
		</form>
	</div>
</div>
#end
